<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
{%if session.role=="Teacher"%}
<h4>Courses that you teach:</h2>
    <br>
{%for item in crs%}
<p><a href="/courses/{{ item[0] }}"style="padding:2px 6px 2px 6px;border-top: 2px solid #CCCCCC;
    border-right: 2px solid #123456;
    border-bottom: 2px solid #123456;
    border-left: 2px solid #CCCCCC; background-color:aqua;">{{item[0]}}</a> </p>
{%endfor%}

{%else%}
<p>Nothing for you here!</p>
{%endif%}
{%endblock%}